{% extends 'base.html.twig' %}

{% block header %}
   {% include "layout/header-shared.html.twig" %}
{% endblock %}

{% block body %}
   <div class="container">
      {# If user is logged in (either ROLE_USER or ROLE_ADMIN), display the Angel profile #}
      {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <!-- information about the Angel -->
            <section class="my-3 d-flex flex-column align-items-center align-items-md-start">
               <div>
                  <h2>A propos de moi</h2>
               </div>
               <div class="mb-3 mt-4 d-inline-flex flex flex-column flex-md-row">
                  <div>
                     <!-- angel's avatar -->
                     {# <img src="{{ asset('assets/images/profile_picture/' ~ angelData.picture) }}" class="rounded avatar-size mb-2" alt="photo de profile"> #}
                     <img src="{{ asset('assets/images/profile_picture/' ~ random(['aimerick.png','alex.jpg','daniel.png','timothy.jpg'])) }}" class="rounded avatar-size mb-2" alt="photo de profile">
                  </div>
                  <div class="card-body d-flex flex-column align-items-center align-items-md-start pt-0">
                     <!-- first name of the angel -->
                     <h5 class="card-title">{{ angelData.firstName | capitalize }}</h5>
                     <ul class="card-text list-style ps-0 d-flex flex-column align-items-center align-items-md-start">
                        <!-- city · zip code -->
                        <li><i class="fas fa-map-marker-alt"></i> {{ angelData.zipCode }} · {{ angelData.city | capitalize }}</li>
                        <!-- phone number -->
                        <li><i class="fas fa-mobile-alt"></i> {{ angelData.phoneNumber }}</li>
                        <!-- email address -->
                        <li><i class="far fa-envelope"></i> {{ angelData.email }}</li>
                     </ul>
                  </div>
               </div>
            </section>
            <hr/>
            <!-- information about the service -->
            <section class="my-3">
               <div class="d-flex justify-content-center justify-content-md-start mb-3">
                  <h2>Mes services</h2>
               </div>
               <div class="d-lg-flex flex-lg-row flex-wrap">
               {% for service in angelData.services %}
                  <!-- logo and name of the service -->
                  <div class="d-flex flex-column align-items-center">
                     <img src="{{ asset('assets/images/service_icons/' ~ service.image) }}" alt="logo du service {{ service.name }}" class="logo-service">
                     <p class="pe-4 ps-4 text-center">{{ service.name }}</p>
                  </div>
            {% endfor %}
               </div>
            </section>
            <hr/>
            {# User reviews #}
            <section>
               <h4>
                  {# Display the average rating of the user and the number of reviews #}
                  <img src="{{ asset('assets/images/service_icons/star.png') }}">
                  {% if averageRating != 0 %}
                     {% if totalReviewsCount == 1 %}
                        {{ averageRating | round(2, 'floor')}}<span class="text-muted">/5</span> · {{ totalReviewsCount }} Commentaire
                     {% else %}
                        {{ averageRating | round(2, 'floor')}}<span class="text-muted">/5</span> · {{ totalReviewsCount }} Commentaires
                     {% endif %}
                  {% else %}
                     {{ angelData.firstName | capitalize }} n'a pas encore de commentaires
                  {% endif %}
               </h4>
               {# List of all the reviews of the user #}
                  <ul class="mt-4 row list-unstyled">
                     {% set i = 1 %}
                     {% for review in userReviews %}
                        <li class="col-md-4 col-sm-6 mb-3">
                           <p class="fw-bold m-0">{{ authorNameArray[i] }}<span class="fw-normal">| {{review.rating}}/5</span></p>
                           <small class="text-secondary">Le {{review.createdAt | date("m/d/Y")}}</small>
                           <p>{{review.comment}}</p>
                        </li>
                        {% set i = i + 1 %}
                     {% endfor %}
                  </ul>
                   {# Make a review of the user #}
               <p>
                  <a href="{{ path('add_review', {'id': angelData.id }) }}">
                     Laisser un commentaire à {{ angelData.firstName | capitalize }}
                  </a>
               </p>
            </section>
   </div>
   {% else %}
      {# TODO: Display a message when the user is not logged in, or redirect him to the homepage #}
   {% endif %}
{% endblock %}
