{% extends 'base.html.twig' %}

{% block title %}Modification de {{user.firstname}} {{user.lastname}} - {{parent()}}{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier {{user.firstname}} {{user.lastname}}</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}

</div>
{% endblock %}
