{% extends 'base.html.twig' %}

{% block title %}Utilsateur : {{user.firstName}} - {{parent()}}{% endblock %}

{% block body %}
    <h1 class='text-center'>Utilisateur : {{ user.firstName }} {{user.lastName}}</h1>
<div class="container admin pt-5">

    <table class="table table-striped text-center mw-50">
    <thead>
    <tr>
      <th scope="col">Propriété</th>
      <th scope="col">Valeur</th>
    </tr>
    </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
            <th>Avatar</th>
            <td>
                <div ><img class="header-icons"  src="{{ asset('assets/images/profile_picture/' ~ user.picture ) }}"  alt="avatar de l'utilisateur"/></div>
            </td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.zipCode }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles|json_encode() }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ user.status }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center align-items-center mb-5 flex-wrap">
    <a role="button" class="btn btn-success text-center mx-5" href="{{ path('admin_user_index') }}">Liste des utilisateurs</a>
    {{ include('admin/user/_delete_form.html.twig') }}
    <a role="button" class="btn btn-success text-center mx-5" href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
</div>
{% endblock %}
